@tailwind base;
@tailwind components;
@tailwind utilities;
.mobile-nav{
    backdrop-filter: blur(10px);
}
.desktop-nav{
    display: none;
}
.my-container{
    font-family:shabnam;
}
.search-input::placeholder{
    font-weight: bold;
}
.register-btn
{
    font-family: lalezar;
}
/* #login-modal
{
    transition: ease-in-out 2000ms;
}
.my-container{
    transition: ease-in-out 2000ms;
} */
/* .hide-modal-animation
{
    display: none;
    transition: ease-in-out 2000ms ;
}
.show-main-page-animation{
    display: block;
    transition: ease-in-out 2000ms ;
} */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .mobile-nav{
        display: none;
    }
    .desktop-nav
    {
        display: flex;
        backdrop-filter: blur(10px);
    }
    .search-bar-div{
        padding-top: 160px;
    }
}